body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;    
}
.startpage {
    background-image: url(../images/background.jpg);
    background-size: cover;
}
.header {
    background-color: cadetblue;
    opacity: 0.8;
    width: 100%;
    display: flex;
}
.header__line {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.header__logo {
    width: 10%;
    padding-left: 25%;
}
.header__menu {
    width: 40%;
    padding-right: 25%;
}
ul {
  list-style: none; 
  overflow: hidden;
  padding: 0; 
}
a {
    text-decoration: none; 
    color: black;
}
.header-line__open {
    background-color: darkcyan;
}
.item {
    float: left;
    border: 1px solid darkcyan;
    padding: 5px;
    width: 30%;
    text-align: center;
}
.mainfield__button {
    position: absolute;
    top: 50%;
    width: 20%;
    right: 40%;
    left: 40%;
    background-color: cadetblue;
    border: 1px solid cadetblue;
    color: aliceblue;
    font-size: 22px;
    padding: 10px;
}
.mainfield__button:hover {
    background-color: aliceblue;
    color: cadetblue;
}

.aboutpage {
    padding-left: 15%;
    padding-right: 15%;
    align-content: center;
}
.aboutpage p {
    text-align: justify;
}
.aboutpage img {
    width: 100%;
}
