body {
    margin: 0;
    padding: 0;
    text-align: center;
}
.page-with-img {
    background-image: url(../images/background.jpg);
    background-size: cover;
}
.header {
    background-color: cadetblue;
    opacity: 0.8;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header__logo {
    width: 20%;
    min-width: 130px;
    text-align: center;
    display: inline-block;
}
.header__menu {
    width: 80%;
    display: inline-block;
}
.header__item {
    float: left;
    border: 2px solid darkcyan;
    padding: 5px;
    margin-right: -2px;
    width: 30%;
    text-align: center;
    min-width: 100px;
}
.header__active {
    background-color: darkcyan;
}
ul {
  list-style: none; 
  overflow: hidden;
  padding: 0; 
}
a {
    text-decoration: none; 
    color: black;
}
a .header__item:hover {
    background-color: aliceblue;
}
.start-button {
    position: absolute;
    top: 50%;
    right: 40%;
    left: 40%;
    background-color: cadetblue;
    border: 1px solid cadetblue;
    color: aliceblue;
    font-size: 22px;
    padding: 10px;
}
.start-button:hover {
    background-color: aliceblue;
    color: cadetblue;
}
.header-about {
    opacity: 0.9;
}
.about-page {
    padding-left: 15%;
    padding-right: 15%;
    align-content: center;
    text-align: justify;
}
.about-page img {
    width: 100%;
}
.top {
    font-size: 34px;
    list-style-position: inside;
}
